# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

.vs/
/dist-prerender

/functions/node_modules/
/src/assets/loader/css/loader-min.css
*.cache
/firebase-debug.log
capacitor-ios-mic/node_modules/
capacitor-ios-mic/dist/

capacitor-ios-mic/ios/Pods
capacitor-ios-mic/ios/Podfile.lock
capacitor-ios-mic/ios/xcuserdata
capacitor-ios-mic/ios/Plugin.xcworkspace/xcuserdata/
capacitor-ios-mic/ios/Plugin.xcworkspace/xcuserdata/apuyana.xcuserdatad/
capacitor-ios-mic/ios/Plugin.xcworkspace/xcuserdata/apuyana.xcuserdatad/UserInterfaceState.xcuserstate
capacitor-ios-mic/ios/Plugin.xcodeproj/xcuserdata/apuyana.xcuserdatad/xcschemes/xcschememanagement.plist
/utils/ApplePay/build
functions/ui-debug.log
functions/firebase-debug.log
